<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Private Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/private.css') }}">
</head>
<body>
	<div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash_message">
                    {{message}}
                </div> 
            {% endfor %}
        {% endif %}
        {% endwith %}

        <a class="title">{{ name }}</a>
        <p class="description">{{ description }}</p>

		<form autocomplete="off" method="post" action="">
            <input type="text" name="Full Name" id="Full Name" placeholder="Full Name" autofocus>
            <input type="text" id="Form" name="Form" placeholder="Form" maxlength="4">
            <input type="submit" id="Submit" name="Submit" value="Submit">

            <a href="/" class="home">
                Go back
            </a>
        </form>
    </div>
</body>
</html>